{#{% extends 'bootstrap/base.html' %}#}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/logo.png')}}">
      <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>התחבר</h1>
{#            <span class="subheading" style="direction: rtl">ברוך הבא!</span>#}
          </div>
        </div>
      </div>
    </div>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"> </script>
  </header>

  <div class="container">
    <div class="row">
<style>
    label{
        float: right;
        direction: rtl;
    }
    .site-heading{
        color:white;
    }

</style>
      <div class="col-lg-8 col-md-10 mx-auto content" style="direction: rtl; float: right">
        {% include "flash-messages.html" %}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>


{% include "footer.html" %}
{% endblock %}