{#{% extends 'bootstrap/base.html' %}#}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/review.jpg')}}')">
    <div class="overlay"></div>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if is_edit %}
            <h1>ערוך חוות דעת</h1>
            {% else: %}
            <h1 style="color: white">הזן ציון</h1>
            {% endif %}
{#            <span class="subheading" style="direction: rtl; color: white">נשמח לשמוע את דעתך!</span>#}
          </div>
        </div>
      </div>
    </div>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"> </script>
  </header>
    <style>
    label{
  direction: rtl;
  float: right;
}</style>
  <div class="overlay"></div>
  <div class="container">
        <a href = "{{ url_for('circles') }}"><button class="btn btn-primary btn-lg btn-block" style="margin-bottom: 10px;"> עבור למצב סדרי הגעה</button></a>
      <a href = "{{ url_for('add_new_group_review') }}"><button class="btn btn-primary btn-lg btn-block" style="margin-bottom: 10px;"> עבור למצב קבוצתי</button></a>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var stationField = document.getElementById('station');

    stationField.addEventListener('change', function() {
      var selectedStation = stationField.value;
      var additionalField = document.getElementById('additionalField');

      if (selectedStation === 'ODT' || selectedStation === 'אחר') {
        additionalField.style.display = 'block';
      } else {
        additionalField.style.display = 'none';
      }
    });
  });
</script>

    <div class="row">
{#      <div class="col-lg-8 col-md-10 mx-auto", style="direction: rtl; float: right">#}
{#        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}#}
{#        <div id="additionalField" style="display: none">#}
{##}
{#        </div>#}
{#      </div>#}
        <div class="col-lg-8 col-md-10 mx-auto" style="direction: rtl; float: right">
  <form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
      <label for="station">תחנה</label>
      {{ form.station(class="form-control", required="required") }}
    </div>

    {% if form.station.data == 'ODT' %}
    <div class="form-group" id="additionalField">
        <label for="additionalField">שם תחנה:</label>
        {% if selected_subject != 0 %} {{ form.odt(class="form-control", value=selected_subject) }} {% else: %}
        {{ form.odt(class="form-control") }}
        {% endif %}
    </div>
      {% else: %}
    <div class="form-group" id="additionalField" style="display: none">
        <label for="additionalField">שם תחנה:</label>
        {{ form.odt(class="form-control") }}
    </div>
      {% endif %}

    <div class="form-group">
      <label for="subject">מספר מגובש</label>
      {{ form.subject(class="form-control", required="required") }}
    </div>

    <div class="form-group">
      <label for="grade">ציון</label>
      {{ form.grade(class="form-control", required="required") }}
    </div>

    <div class="form-group">
      <label for="note">הערות</label>
      {{ form.note(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}





