{% block content %}
{% include "header.html" %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/review.jpg')}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          {% if is_edit %}
          <h1>ערוך חוות דעת</h1>
          {% else: %}
          <h1 style="color: white">הזן ציון</h1>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <a href="{{ url_for('add_new_group_review') }}" class="btn btn-primary btn-lg btn-block">עבור למצב קבוצתי</a>
  <a href="{{ url_for('add_new_review') }}" class="btn btn-primary btn-lg btn-block mt-3">עבור למצב יחיד</a>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto" style="direction: rtl; float: right">
      <div class="text-center mb-3 mt-3">
        <label for="movementType" style="margin-right: 10px; font-size: 16px">סוג תחנה:</label>
        <select class="form-control d-inline-block" id="movementType">
          <option value="ספרינטים">ספרינט</option>
          <option value="זחילות">זחילות</option>
          <option value="אלונקה סוציומטרית">אלונקה סוציומטרית</option>
          {% for station in physical_stations %}
          <option value="{{ station }}">{{ station }}</option>
          {% endfor %}
          <option value="אחר">אחר</option>
        </select>
        <div id="additionalField" style="display: none">
          <label for="additionalFieldText" style="margin-right: 10px; font-size: 16px">הזן שם תחנה:</label>
          <input class="form-control d-inline-block" type="text" id="additionalFieldText">
        </div>
      </div>
      <div id="row1" style="margin-top: 20px; text-align: right; direction: rtl;"></div>
      <h2 id="redHeader" style="margin-top: 40px; display: none; text-align: right;">סיימו</h2>
      <div id="row2" class="row"></div>
      <button id="finishButton" class="btn btn-primary btn-lg" style="margin-top: 20px; display: none;">סיום סיבוב</button>
      <button id="finishActButton" class="btn btn-primary btn-lg" style="margin-top: 20px; display: none;">סיום אקט</button>
    </div>
  </div>
</div>

{% include "footer.html" %}

<script>
  const movementTypeSelect = document.getElementById('movementType');
  const additionalField = document.getElementById('additionalField');
  const additionalFieldText = document.getElementById('additionalFieldText');
  const row1 = document.getElementById('row1');
  const redHeader = document.getElementById('redHeader');
  const finishButton = document.getElementById('finishButton');
  const finishActButton = document.getElementById('finishActButton');

  let circles = [];
  let finishedCircles = [];

  // Generate circles
  for (let i = 1; i <= {{ circles|length }}; i++) {
    const circle = document.createElement('div');
    circle.classList.add('circle');
    circle.textContent = {{ circles|tojson }}[i - 1].id;
    circle.addEventListener('click', toggleCircle);
    row1.appendChild(circle);
    circles.push(circle);
  }

  function toggleCircle() {
    const circleId = parseInt(this.textContent);
    if (this.classList.contains('finished')) {
      this.classList.remove('finished');
      finishedCircles = finishedCircles.filter(id => id !== circleId);
      row1.appendChild(this);
    } else {
      this.classList.add('finished');
      finishedCircles.push(circleId);
      document.getElementById('row2').appendChild(this);
    }
    updateCircleColors();
    updateFinishButtonVisibility();
  }

  function updateCircleColors() {
    const greenCircles = document.querySelectorAll('.circle.finished');
    greenCircles.forEach((circle, index) => {
      const shade = 255 - (index * 25);
      const color = `rgb(0, ${shade}, 0)`;
      circle.style.backgroundColor = color;
    });
  }

  function updateFinishButtonVisibility() {
    if (finishedCircles.length > 0) {
      redHeader.style.display = 'block';
      finishButton.style.display = 'block';
      finishActButton.style.display = 'block';
    } else {
      redHeader.style.display = 'none';
      finishButton.style.display = 'none';
      finishActButton.style.display = 'none';
    }
  }

  movementTypeSelect.addEventListener('change', () => {
    if (movementTypeSelect.value === 'ODT' || movementTypeSelect.value === 'אחר') {
      additionalField.style.display = 'block';
    } else {
      additionalField.style.display = 'none';
    }
  });

  finishButton.addEventListener('click', sendCircleNumbers);
  finishActButton.addEventListener('click', sendCircleNumbersAct);

  function sendCircleNumbers() {
    const movementType = movementTypeSelect.value;
    const other = additionalFieldText.value;
    const remainingCircles = circles.filter(circle => !circle.classList.contains('finished'));
    const data = {
      circle_numbers: [...finishedCircles, 0, ...remainingCircles.map(circle => parseInt(circle.textContent))],
      movement_type: movementType,
      other: other
    };

    // Reset circles without waiting for response
    resetCircles();

    // Example of posting data, you'll need to handle the response accordingly
    fetch('/circles/finished', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    });
  }

  function sendCircleNumbersAct() {
    const movementType = movementTypeSelect.value;
    const other = additionalFieldText.value;
    const remainingCircles = circles.filter(circle => !circle.classList.contains('finished'));
    const data = {
      circle_numbers: [...finishedCircles, 0, ...remainingCircles.map(circle => parseInt(circle.textContent))],
      movement_type: movementType,
      other: other
    };

    // Reset circles without waiting for response
    resetCircles();

    // Example of posting data, you'll need to handle the response accordingly
    fetch('/circles/finished-act', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    });
  }

  function resetCircles() {
    // Remove finished circles from the DOM
    const finishedCirclesElements = document.querySelectorAll('.circle.finished');
    finishedCirclesElements.forEach(circle => circle.remove());
    // Reset finishedCircles array
    finishedCircles = [];
    // Reset circle colors
    circles.forEach(circle => {
      circle.classList.remove('finished');
      circle.style.backgroundColor = 'blue';
    });
    // Move circles back to row1
    circles.forEach(circle => row1.appendChild(circle));
    // Hide finish buttons
    redHeader.style.display = 'none';
    finishButton.style.display = 'none';
    finishActButton.style.display = 'none';
  }

  window.addEventListener('load', () => {
    const storedValue = sessionStorage.getItem('selectedMovementType');
    if (storedValue) {
      movementTypeSelect.value = storedValue;
      additionalFieldText.value = sessionStorage.getItem('selectedOther');

      if (movementTypeSelect.value === 'אחר') {
        additionalField.style.display = 'none';
        const val = sessionStorage.getItem('selectedOther');
        const option = document.createElement("option");
        option.value = val;
        option.text = val;
        movementTypeSelect.appendChild(option);
        movementTypeSelect.value = sessionStorage.getItem('selectedOther');
      }
    }
  });
</script>
<style>
  .circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    text-align: center;
    line-height: 40px;
    color: white;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }

  .circle.finished {
    background-color: green;
  }

  .form-control {
    width: auto;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    font-size: 16px;
  }

  #movementType {
    width: 200px;
    font-size: 16px;
  }

  #finishButton, #finishActButton {
    padding: 12px 24px;
    font-size: 18px;
  }
</style>
{% endblock %}
